{{> /layout/header}}

<div class="container p-5">

    <!-- 요청을 하면 localhost:8080/join POST로 요청됨
    username=사용자입력값&password=사용자값&email=사용자입력값 -->

    <div class="card">
        <div class="card-header"><b>회원가입을 해주세요</b></div>
        <div class="card-body">
            <form action="/join" method="post" onsubmit="return valid()">
                <div class="mb-3">
                    <input id="username" type="text" class="form-control" placeholder="Enter username" name="username" >
                    <button type="button" onclick="usernameSameCheck()" class="btn btn-warning">아이디중복체크</button>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Enter password" name="password">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Enter email" name="email">
                </div>
                <button type="submit" class="btn btn-primary form-control">회원가입</button>
            </form>
        </div>
    </div>
</div>
<script>
    let isSameCheck = false;
    function valid(){
        if (isSameCheck == false){
            alert("아이디 중복체크를 해야합니다.")
        }
        return isSameCheck;
    }

    function usernameSameCheck(){
        let username = $("#username").val();
        $.ajax({
            url: "/api/username-same-check?username=" + username,
            type: "get"
        }).done((res)=>{
            if(res.body == true){
                isSameCheck = true;
                alert("아이디 사용 가능 ");
            }
            if (res.body == false){
                isSameCheck = false;
                alert("아이디 중복됨")
            }
        }).fail((res)=>{
            alert(res.responseJSON.msg);
        });

    }
</script>

{{> /layout/footer}}