{{> /layout/header}}

<div class="container p-5">

    <div class="d-flex justify-content-end">
        <form class="d-flex mb-2" action="/" method="get">
            <input class="form-control me-2" type="text" name="keyword" placeholder="Search..." required>
            <button class="btn btn-primary">검색</button>
        </form>
    </div>

    {{#boardList}}
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title mb-3">{{title}}</h4>
                <a href="/board/{{id}}" class="btn btn-primary">상세보기</a>
            </div>
        </div>
    {{/boardList}}


    <ul class="pagination d-flex justify-content-center">
        <li class="page-item {{#first}}disabled{{/first}}"><a class="page-link" href="?page={{prev}}&keyword={{keyword}}">Previous</a></li>
        <li class="page-item {{#last}}disabled{{/last}}"><a class="page-link" href="?page={{next}}&keyword={{keyword}}">Next</a></li>
    </ul>

</div>

{{> /layout/footer}}